{% extends 'base.html' %}
{% load static %}



{% block content %}
<form action="/send_msg/" method="get">
<label for="chatb"></label>
<input type="textarea" name="chat1" id="chatb">
<button type="submit">Submit</button>
</form>
{% endblock content %}


 <!-- <h1>Your Shopping Cart</h1>

{% if cart_items %}
<table border="1" cellpadding="10" cellspacing="0">
    <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        <th>Total</th>
    </tr>
    {% for item in cart_items %}
    <tr>
        <td>{{ item.item.item_name }}</td>
        <td>{{ item.qty }}</td>
        <td>${{ item.item.item_price }}</td>
        <td>${{ item.price }}</td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="3" align="right"><strong>Total:</strong></td>
        <td><strong>${{ total_cart_price }}</strong></td>
    </tr>
</table>
{% else %}
<p>Your cart is empty.</p>
{% endif %}

{% endblock content %}
     -->